.services .intro {
    grid-column: auto / span 1;
}

.services-list {
    padding-bottom: 1.5em;
    grid-row: auto / span 2;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.services-action {
    padding-bottom: 1.5em;
}

/* TABLET */
@media (min-width: 800px) {
    .services .intro,
    .services-action {
        grid-column: 1 / span 1;
    }

    .services-list {
        grid-column: 2 / span 1;
    }
}
